/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

button{
  outline : none;
  cursor: pointer;
}
